<div class="upload-container">
  <div class="upload-header">
    <h2 style="display: inline-block">File storage application (User id: {{selectedUserId}})</h2>
    <button class="secondary submit-btn"(click)="toggleUserId()">Toggle user</button>
  </div>
  <div class="upload-content">
    <div class="upload">
      <h3>Upload File</h3>

      <input id="fileUploadInput" type="file" name="file" class="file-input" required (change)="selectFile($event)"/>
      <button class="primary submit-btn" [disabled]="!selectedFile" (click)="upload()">Upload</button>

      <div class="upload-response" *ngIf="responseMessage">
        <div class="{{'text-' + (uploadSuccess ? 'success': 'danger')}}">{{responseMessage}}</div>
      </div>
      <div class="upload-response">
        <table width="100%">
          <tr *ngFor="let file of files">
            <td>{{file.id}}</td>
            <td>{{file.fileName}}</td>
            <td><a [href]="file.fileUrl" target="_blank">Download</a></td>
            <td><a routerLink="" (click)="shareFile(file.id)">Share</a></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
